@import "tailwindcss";
/* @import url("https://fonts.googleapis.com/css2?family=FONT_NAME:wght@400;600;700&display=swap"); */

@theme {
  --color-blue: #34b7f1;
  --color-teal-green: #128c7e;
  --color-light-green: #25d366;
  --color-teal-green-dark: #075e54;
  --color-pearl-bush: #ece5dd;

  /* --font-display: "FONT_NAME", serif; */
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
